@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Poppins";
    font-display: swap;
    color: #000929;
    background-color: #F7F7FD;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}